<div class="container">

	<dl class="dl-horizontal">
		<dt>Mesas totales</dt>
		<dd>{{total}}</dd>

		<dt>Mesas ingresadas</dt>
		<dd>{{entered}}</dd>

		<dt>Mesas inconsistentes</dt>
		<dd>{{differences}}</dd>
	</dl>

<table class="table table-striped">
    <thead>
      <tr>
      	<th>Distrito</th>
      	<th>Seccion</th>
        <th>Razon</th>
        <th>¿OK?</th>
        <th style="width:30px;"></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="poll in polls">
        <td>{{poll.distrito_nombre}}</td>
        <td>{{poll.seccion_nombre}}</td>
        <td>{{poll.razon}}</td>
        <td>
          <span style="font-weight: bold;" ng-class="{'positive_rating': poll.rating > 0, 'negative_rating': poll.rating < 0}" >{{poll.rating}}</span>
          <button type="button" ng-click="rateAdd(poll.poll_entered_id)" style="width:35px; margin-left:10px;" class="btn btn-default">+</button>
          <button type="button" ng-click="rateSubstract(poll.poll_entered_id)" style="width:35px;" class="btn btn-default">-</button>
        </td>
        <td><a type="button" class="btn btn-default" href="{{poll.url}}" target="_blank">Ver</a></td>
      </tr>
    </tbody>
  </table>

</div>